<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="mycon" connectionString="Server=96d3c827-4965-4a68-a1a9-a44500d0fc21.sqlserver.sequelizer.com;Database=db96d3c82749654a68a1a9a44500d0fc21;User ID=pkainydfyqssoqpy;Password=W2TLxFLgKyaUDdRQ4mh8tctbRcfUWhVMMrs5MxSeV3Qg7uP46bWwFLNTFR4uzYsC;"/>
  </connectionStrings>
</configuration>
